/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/

/*
 * Vertikal gestapelte Formulare
 */

/* Jede Spalte max. 30em breit */
form.stacked .column {
    max-width: 30em;
}

/* Formularelemente maximal breit gestapelt */
form.stacked > *,
form.stacked .column > *,
form.stacked .side-by-side > * {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

/* Container für nebeneinander liegende Elemente */
form.stacked .side-by-side {
    display: flex;
}

form.stacked .side-by-side > * {
    margin-right: 0.25em;
}

form.stacked .side-by-side > *:last-child {
    margin-right: 0;
}

/* Feldbezeichner */
form.stacked label {
    margin-top: 1em;
}

form.stacked label:first-of-type {
    margin-top: 0;
}

/*
 * Horizontal ausgerichtete Formulare
 */
form.horizontal {
    /* Formularelement maximal hoch, nebeneinander */
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

form.horizontal > * {
    vertical-align: baseline;
}

/* Feldbezeichner */
form.horizontal label {
    margin-left: 1em;
}

form.horizontal label:first-of-type  {
    margin-left: 0;
}

/*
 * Allgemeingültige Layoutoptionen
 */
form label {
    font-weight: bold;
}

form label .required {
    color: red;
}

input,
textarea,
select {
    border: 1px solid #bebebe;
    padding: 0.5em;
    margin: 0;
    outline: none;
    background: white;
}

textarea {
    height: 12em;
}

/*
 * Fehlermeldungen
 */
form .errors {
    margin-top: 1em;
    color: red;
}

.weight{
    width: 10%;
}
.vertikal{
    background-color: white; 

}

.birthdate{
    width: 35%;
}

html{
    color: rgb(200, 225, 0);
}

h1{
    color: #e1ff00;
}

output{
    position: absolute;
    padding-left: 20px;
}

output:after{
    	content: "cm";
	width: 2em;
}

form .stars {
  background: url(../img/stars.png) repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}
 
form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url(../img/stars.png)repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}